.content{
    width: 100%;
    height: auto;
    
}
.content__main,.content__menu,.content__discount{
    width: 100%;
    background-color: $mainBgnd;
    margin: 15px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 auto;
}
.content-flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.content__main__img{
    background-image: url('../img/backgrounds/11-113922_hd-free-coffee-wallpaper-cafe-background-images-hd.jpg');
    background-position: 50% 90%;;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    display: block;
    box-sizing: border-box;
    border-radius:5px;
}
.content__main__img__p{
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-size: 35px;
    color: #fff;
    font-weight: 900;
    position: relative;
    padding: 60px 10px;
}
.content__main__img__p:last-child{
    padding: 45px 10px;
    font-size: 20px;
    text-align: right;
}
.content__main__txt{
    font-family: 'Alegreya';
    font-style: normal;
    font-size: 17px;
    color: #000;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}
.content__menu{
    margin-top: 15px;
}
.content__menu__category{
    width: 100%;
    box-sizing:border-box;
    border-radius: 5px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
}
.content__menu__category:hover{

    box-sizing:border-box;

}

.content__menu__category:hover>.content__menu__category__img{
    opacity: 0.3;
}
.content__menu__category:hover>.content__menu__category__title-cover>.content__menu__category__title-cover__title{
    transform: scale(1.2);
    color: $clrFontSecondary;
}
.content__menu__category__img{
    
    background-position: 50% 10%;;
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height: 200px;
    flex-grow: 1;
    border-radius: 5px;
    margin: 5px 0;
}
.content__menu__category__img--classic{
    background-image: url('../img/275_original.jpg');
}
.content__menu__category__img--coctails{
    background-image: url('../img/c32bb9ff155b570d9a1feca4d5613d57.png')
}
.content__menu__category__img--wine{
    background-image: url('../img/mulled_wine.jpg')
}
.content__menu__category__title-cover{
    flex-grow: 1;
    width:100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
}
