.container{
    min-width: 320px;
    box-sizing: border-box;
    padding: 5px;
    margin: 0 auto;
}

@media(min-width: 1024px){
    .container {
        width: 100%;
        max-width: 1600px;
    }
}